version: "3.8"

services:
  minio:
    image: minio/minio:latest
    container_name: minio_server
    # Set the credentials for the admin user (API and Console access)
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_SERVER_URL: http://127.0.0.1:9000
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    restart: always
  radicale:
    image: tomsquest/docker-radicale:latest
    container_name: radicale
    restart: unless-stopped
    ports:
      - "5232:5232"
    volumes:
      - radicale_data:/data
      - ./config/radicale/config:/config/config:ro
      - ./config/radicale/users:/config/users:ro
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3141:3141"
    depends_on:
      - minio
      - radicale
  bun_backend:
    build: ./bun-backend
    container_name: bun_backend
    ports:
      - "6989:6989"
    depends_on:
      - minio
    environment:
      MINIO_ENDPOINT: minio:9000
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./bun-backend:/app
    tty: true
    stdin_open: true
